<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-3 show-card">

    
    <h3>Listings Details :</h3>

</div>
    <div class="card col-6 offset-3">
        
            <img src=<%= listing.image %> class="card-img-top show-img" alt="listing_image">
            <div class="card-body">
              <b><p class="card-text"><%= listing.title %></b>
           <br><%= listing.description %> <br>
            &#8377;<%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %>
            <br><%= listing.location %>
            <br><%= listing.country %>
            
        </p>
            </div>
        </div>
        <div class="btns">
            <a href="/listings/<%=listing._id %>/edit" class="btn btn-dark  edit-btn col-1 offset-3">Edit</a>
        
        <form method="post" action="/listings/<%=listing._id %>?_method=delete" ><button class="btn btn-dark  offset-2">Delete</button> </form>
      </div>


    </div>
    

</body>
 
